body {
    background-image: url(images/bg.jpg);
    background-position: top;
}

.headImg {
    width: 400px;
}

.btn {
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-shadow: 2px 2px 4px black;
}

.btn:hover {
    color: white;
}

#computerBlock, #userBlock, #selectorBlock {
    border: 3px solid white;
    margin: auto;
    width: 300px;
    height: 300px;
}

#computer, #user, #selector {
    border: none;
    color: white;
    margin: auto;
    width: 300px;
    height: 50px;
    padding: 0%;
}

#reset {
    border-radius: 5%;
    width: 100%;
}

#rotate {
    display: none;
    position: fixed;
}

#win, #loose, #draw {
    position: relative;
    width: 150px;
    bottom: 35%;
    left: 40%;
}


@media (orientation: portrait) {
    div.container {
        display: none;
    }

    #rotate {
        display: block;
        margin: auto;
        top: 400px;
    }

}

.develop {
    position: fixed;
    bottom: 0%;
    right: 0%;
    text-align: center;
    background-color: rgb(4, 84, 90);
    width: 250px;
    color: white;
    padding: 5px;
    border-top-left-radius: 20px;
    box-shadow: 0px 0px 10px -1px black;
}